@import './MediaModalDetail.module.css';

.wrapper {
  flex-direction: column;
  padding: 20px !important;
  gap: 15px 0 !important;
}

.background {
  display: block;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.data {
  width: 100% !important;
}

.image {
  display: none;
}

.header {
  text-align: center;
  justify-content: center;
  align-items: center !important;
}

.genres {
  flex: initial;
  justify-content: center;
}

.more {
  position: initial;
  margin: 10px 0 5px 0;
  float: right;
}
