.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.item {
  flex: 0 0 50%;
  display: flex;
  gap: 20px;
  color: var(--color-text);
  box-shadow: var(--box-shadow-primary);
  padding-right: 15px;
  background-color: rgb(var(--placeholder-color-rgb), 0.5);
  flex-wrap: wrap;
}

.image {
  width: 120px;
  min-width: 120px;
}

.title {
  font-weight: 500;
  margin-top: 10px;
}
.item:hover .title {
  color: var(--color-yellow);
}

.description {
  font-size: 0.95rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
