.credit {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 20px;
  padding: 10px 0;
}

.label {
  font-weight: 500;
}

.data {
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
}

.separator {
  margin: 0 6px;
}
