.wrapper {
  width: 100vw;
  width: 100%;
  min-height: 580px;
  height: auto;
  position: relative;
}

.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;
}

.content {
  padding: 20px var(--padding-aside);
  max-width: var(--size-max);
  margin: 0 auto;
  display: grid;
  grid-gap: 0 40px;
  grid-template-columns: 250px auto;
  margin: 0 auto;
}
.backdrop.skeleton {
  background-color: transparent;
}

.header {
  grid-column: 1 / span 2;
  margin-top: 20px;
  margin-bottom: 30px;
  min-height: 50px;
}

.title {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 10px;
}

.heading {
  width: fit-content;
  margin: 0 0 2px 0;
}

.subheadings {
  width: fit-content;
  font-size: 1rem;
}

.image {
  grid-row: 2 / span 5;
}

.genres {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.description {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 20px;
}

.credits {
  width: fit-content;
  margin-bottom: 20px;
}

.credit {
  width: fit-content;
}
.credit.skeleton {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px 0;
}
.credit.skeleton:not(:first-of-type) {
  margin-top: 5px;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.action {
  padding: 0 20px !important;
  justify-content: flex-start;
}
.action:not(:first-of-type) {
  border: 2px solid var(--color-text);
  color: var(--color-text);
  background-color: transparent;
  padding: 0 !important;
  font-size: 1.7rem;
  border-radius: 50%;
  justify-content: center;
  font-weight: 700;
  width: 44px;
  min-width: 44px;
}
.action:not(:first-of-type):hover {
  color: var(--color-button-text);
  background-color: var(--color-link-text);
}
.action:not(:first-of-type) .label {
  display: none;
}

.providers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  font-weight: 500;
}

.provider-label {
  flex: 0 0 100%;
}

.provider-items {
  display: flex;
  gap: 5px;
}

.provider-item {
  height: 44px;
  border-radius: 5px;
}

.separator {
  margin: 0 7px;
}
.separator:last-of-type {
  display: none;
}
