@import './MediaDetail.module.css';

.wrapper {
  display: grid;
  grid-gap: 0 40px;
}

.backdrop {
  margin-top: 250px;
  height: calc(100% - 250px);
}

.content {
  margin-top: 15px;
  padding: 0 var(--padding-aside);
  display: grid;
  grid-template-columns: 100%;
}

.background {
  height: 250px;
  position: relative;
}

.header {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  margin: 20px 0 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.genres {
  flex: initial;
}

.image {
  display: none;
}

.description {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.credits {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

.actions {
  grid-column: 1 / span 1;
  margin: 0 auto 40px auto;
}

.buttons {
  grid-row: 1 / span 1;
  margin: 0 auto;
}

.links {
  grid-row: 5 / span 1;
  margin-bottom: 20px;
}

.title {
  justify-content: center;
  text-align: center;
}

/* Skeleton */

.skeleton .background {
  display: block;
}
