@import './MediaDetail.module';

.wrapper {
  display: grid;
  grid-gap: 0 40px;
}

.backdrop {
  margin-top: 250px;
  height: calc(100% - 250px);
}

.content {
  margin-top: 15px;
  padding: 0 var(--padding-aside);
  display: grid;
  grid-template-columns: 100%;
}

.background {
  height: 250px;
  position: relative;
}

.header {
  grid-column: 1 / span 1;
  margin: 20px 0 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  justify-content: center;
}

.image {
  display: none;
}

.actions {
  margin: 0 auto;
  grid-row: 1 / span 1;
}

.providers {
  flex-direction: column;
}

.provider-label {
  flex: 1;
}

.providers .button {
  width: 100%;
}
