.wrapper {
  width: 100vw;
  min-height: 580px;
  height: auto;
  position: relative;
}

.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;
}

.content {
  padding: 20px var(--padding-aside);
  max-width: var(--size-max);
  margin: 0 auto;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 250px 40px min-content 20px 1fr;
}

.header {
  grid-column: 1 / span 5;
  grid-row: 1 / span 1;
  margin-top: 20px;
  margin-bottom: 30px;
  min-height: 50px;
}

.image {
  grid-column: 1 / span 1;
  grid-row: 2 / span 5;
}

.description {
  grid-column: 3 / span 3;
  grid-row: 2 / span 1;
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 20px;
}

.credits {
  grid-column: 3 / span 3;
  grid-row: 3 / span 1;
  width: fit-content;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  width: fit-content;
}

.buttons {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
}

.links {
  grid-column: 5 / span 1;
  grid-row: 4 / span 1;
}

.title {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 10px;
}

.heading {
  width: fit-content;
  margin: 0 0 2px 0;
}

.subheadings {
  width: fit-content;
  font-size: 1rem;
}

.genres {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.credit {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 20px;
  padding: 10px 0;
  font-weight: 500;
}

.persons {
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
}

.provider-logo {
  height: 32px;
  border-radius: 5px;
}
.provider-stream {
  padding: 0 20px 0 10px !important;
  gap: 10px !important;
}

.link {
  border: 2px solid var(--color-text);
  color: var(--color-text);
  background-color: transparent;
  padding: 0 !important;
  font-size: 1.7rem;
  border-radius: 50%;
  justify-content: center;
  font-weight: 700;
  width: 44px;
  min-width: 44px;
}
.link:hover {
  color: var(--color-button-text);
  background-color: var(--color-link-text);
}

.separator {
  margin: 0 7px;
}
.separator:last-of-type {
  display: none;
}
