@import './MediaDetail.module.css';

.images {
  grid-template-areas:
    'background background'
    'image header';
  grid-gap: 0 20px;
}

.content {
  position: relative;
  grid-template-areas:
    'images'
    'buttons'
    'secondary'
    'general'
    'extras'
    'videos'
    'seasons'
    'credits'
    'recommendations';
  grid-template-columns: calc(100vw - 2 * var(--padding-aside));
}

.header {
  margin-top: var(--padding-aside);
  grid-area: header;
  flex-direction: column !important;
}

.buttons {
  grid-area: buttons;
  margin-top: 20px;
  display: grid !important;
  grid-gap: 10px;
  width: 100%;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
}

.extras {
  margin: 0;
}

/* ---------- Images */

.background {
  grid-area: background;
  margin: -16px 0 0 calc(-1 * var(--padding-aside));
  width: calc(100% + 2 * var(--padding-aside));
}

.image {
  margin-top: var(--padding-aside);
  grid-area: image;
  flex-direction: row !important;
  overflow: hidden;
}

/* ---------- Header */

.heading {
  margin: 0;
  text-align: left;
}

.title {
  justify-content: center;
  text-align: center;
}

/* ---------- Watch */

.buttons.secondary {
  grid-area: secondary !important;
}

/* ---------- Sections */

/* ---------- Skeleton */

.skeleton .content {
  margin-top: 0 !important;
}

.skeleton .background {
  display: block;
  margin-top: -15px;
  margin-left: -20px;
  width: calc(100% + 40px);
}

.skeleton .actions {
  flex-direction: row !important;
  margin-top: 15px !important;
}

.skeleton .actions .button {
  width: 40% !important;
}

.skeleton .section {
  grid-row: 5 / span 1;
}
.skeleton .section + .section {
  display: none;
}
