.wrapper {
  width: 100%;
  min-height: 580px;
  height: auto;
  position: relative;
}

.content {
  z-index: 2;
  display: grid;
  grid-gap: 0 60px;
  grid-template-areas:
    'header header'
    'images images'
    'general extras'
    'seasons extras'
    'videos extras'
    'multimedia extras'
    'credits extras'
    'recommendations extras';
  grid-template-columns: auto calc(var(--size-image) + 50px);
}

.slot {
  grid-column: 2 / span 1;
}

.images {
  grid-area: images;
  width: 100%;
  display: grid;
  grid-gap: 0 20px;
  grid-template-areas: 'image background';
  grid-template-columns: auto auto;
}

.header {
  grid-area: header;
  min-height: 63px;
}

.general {
  grid-area: general;
}

.actions {
  width: 100%;
  height: fit-content;
  justify-content: center;
}

.extras {
  grid-area: extras;
}

.buttons {
  z-index: 2;
  gap: 5px;
}

.links {
  width: fit-content;
  flex-direction: row !important;
}

/* ---------- Header */

.title {
  width: fit-content;
}

.heading {
  text-align: center;
  width: fit-content;
  margin-bottom: 3px;
}

.subheadings {
  margin-bottom: 25px;
}

.death {
  font-size: 1.4rem;
}

.genres {
  height: fit-content;
  font-size: 0.8rem;
  margin-bottom: 15px;
}

/* ---------- General */

.description {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
}

.genre {
  height: 30px !important;
}

/* ---------- Video */

.video {
  position: relative;
  cursor: pointer;
}

.video-thumbnail {
  min-width: 100%;
}

.play {
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  height: 55px;
  width: 55px;
  min-width: 55px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  color: var(--color-dark);
  box-shadow: var(--box-shadow-primary);
  cursor: pointer;
  opacity: 0.3;
  padding: 2px 0 0 5px !important;
  font-size: 2.8rem;
}
.video:hover .play {
  opacity: 0.7;
}

/* ---------- Watch */

.buttons + .buttons {
  margin-top: 10px;
}

.button {
  width: 100%;
  justify-content: flex-start;
}

.next-date {
  margin-bottom: 10px;
}

.button-icon {
  border-radius: 5px;
  font-size: 1.5rem;
}

.provider-stream .button-icon {
  margin-left: 0;
}
.provider-button {
  padding: 0;
  height: auto;
}
.provider-logo {
  height: 32px;
  border-radius: 5px;
  box-shadow: var(--box-shadow-primary);
}

/* ---------- Links */

.data-item {
  font-size: 0.95rem;
  margin-bottom: 15px;
}

.link {
  padding: 0 !important;
  font-size: 1.3rem;
  border-radius: 50%;
  justify-content: center;
  font-weight: 700;
  height: 40px;
  width: 40px;
  min-width: 40px;
  margin-top: 10px;
}
.link.external-id {
  font-size: 1.25rem;
}

.provider-link-logo {
  height: 45px;
  border-radius: 5px;
  box-shadow: var(--box-shadow-primary);
}

/* ---------- Background */

.image {
  grid-area: image;
  height: fit-content;
  overflow: hidden;
}

.background {
  grid-area: background;
  height: fit-content;
  overflow: hidden;
}

/* ---------- Sections */

.section {
  margin-top: 30px;
  width: 100%;
  overflow: hidden;
}

.section-heading {
  margin-bottom: 25px;
  width: fit-content;
}

.section-1 {
  grid-area: general;
}

.section-2 {
  grid-area: seasons;
}

.section-3 {
  grid-area: videos;
}

.section-4 {
  grid-area: multimedia;
}

.section-5 {
  grid-area: credits;
}

.section-6 {
  grid-area: recommendations;
}

/* ---------- Skeleton */

.skeleton .background {
  display: none;
}
.skeleton .content {
  margin-top: 200px;
}
