.wrapper {
  position: relative;
}

.item {
  width: fit-content;
}

.button-navigation {
  color: var(--color-text);
  position: absolute;
  top: 0;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 700;
  width: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 9;
  will-change: opacity;
}

.button-navigation:hover {
  color: var(--color-yellow);
}

.button-prev {
  left: 0;
  justify-content: flex-start;
}

.button-prev:not(.button-navigation-disabled) {
  background-image: linear-gradient(to left, rgba(255,255,255,0) 0%, var(--background-color) 100%);
}

.button-next {
  right: 0;
  justify-content: flex-end;
}

.button-next:not(.button-navigation-disabled) {
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, var(--background-color) 100%);
}

.button-navigation-disabled {
  display: none !important;
}
