.wrapper {
  transition: all 0.2s;
}

.wrapper.text + .wrapper.text {
  margin-top: 5px;
}

.skeleton {
  transition: all 0.2s;
  transform: none !important;
  background-color: rgba(0, 0, 0, var(--skeleton-opacity)) !important;
  border-radius: 3px !important;
}

.skeleton * {
  color: transparent !important;
  border-color: transparent !important;
  cursor: default !important;
}

.wrapper.chip .skeleton {
  border-radius: 1rem !important;
}
