.wrapper {
  position: relative;
  width: 100%;
}

.item {
  width: fit-content;
}

.button-navigation {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 9;
  background-color: transparent;
}

.button-navigation-icon {
  background-color: var(--color-secondary);
  height: 55px !important;
  padding: 0 !important;
  font-size: 2rem !important;
  min-width: 40px;
  font-weight: 700;
  opacity: 0.5;
}
.button-navigation-icon:hover,
.wrapper:hover .button-navigation-icon {
  opacity: 1;
}

.button-prev {
  left: 0;
  justify-content: flex-start;
}

.button-next {
  right: 0;
  justify-content: flex-end;
}

.button-navigation-disabled {
  display: none !important;
}
