.wrapper {
  position: relative;
  width: 100%;
}

.item {
  width: fit-content;
  margin: 1px 0;
}
.item.breakpoint {
  max-width: var(--grid-item-percentage);
}

.button-navigation {
  background-color: var(--color-secondary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  height: 70px !important;
  padding: 0 !important;
  font-size: 2rem !important;
  min-width: 40px;
  font-weight: 700;
  opacity: 0.5;
  display: flex;
  justify-content: center;
}
.wrapper:hover .button-navigation {
  opacity: 1;
}
.button-navigation:hover {
  opacity: 0.7 !important;
}

.button-prev {
  left: 1px;
}

.button-next {
  right: 1px;
}

.button-navigation-disabled {
  display: none !important;
}

.pagination-bullet {
  border: 2px solid var(--background-color) !important;
  background: transparent !important;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  opacity: 1 !important;
}
.pagination-bullet-active {
  background: var(--background-color) !important;
}
