.wrapper {
  position: relative;
  width: 100%;
}

.item {
  width: fit-content;
}

.button-navigation {
  background-color: var(--color-secondary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  height: 70px !important;
  padding: 0 !important;
  font-size: 2rem !important;
  min-width: 40px;
  font-weight: 700;
  opacity: 0.5;
  display: flex;
  justify-content: center;
}
.wrapper:hover .button-navigation {
  opacity: 1;
}
.button-navigation:hover {
  opacity: 0.7 !important;
}

.button-prev {
  left: 0;
}

.button-next {
  right: 0;
}

.button-navigation-disabled {
  display: none !important;
}
