.wrapper {
  margin: 0;
  width: fit-content;
}
.wrapper.divider {
  border-top: 1px solid rgba(var(--divider-color-rgb), 0.3);
}

.item {
  min-height: 20px;
}
.wrapper.divider .item {
  border-bottom: 1px solid rgba(var(--divider-color-rgb), 0.3);
}
