.wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.wrapper.divider {
  border-top: 1px solid rgba(var(--divider-color-rgb), 0.3);
}

.item {
  display: flex;
  align-items: center;
  min-height: 20px;
}
.wrapper.divider .item {
  border-bottom: 1px solid rgba(var(--divider-color-rgb), 0.3);
}
