.wrapper {
  position: relative;
  display: block;
}

.background {
  pointer-events: none;
}

.gradient-left {
  position: absolute;
  height: 100%;
  width: 73%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(var(--color-black-gradient), 0.85), transparent 200px);
  z-index: 2;
}
.gradient-bottom {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(var(--color-black-gradient), 0.85), transparent 290px);
  z-index: 1;
}

.info {
  color: var(--color-white);
  position: absolute;
  bottom: 80px;
  left: 3em;
  margin: 0px 50px 0 0;
  width: 50%;
  z-index: 2;
}

.title {
  color: currentColor;
  font-size: 1.8rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.description {
  color: currentColor;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.actions {
  margin-top: 20px;
}

.action {
  color: var(--color-white);
  box-shadow: var(--box-shadow-primary);
  border: 2px solid currentColor;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  padding: 0;
}
.action:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.pagination {
  position: absolute;
  bottom: var(--condensed-item-bottom) !important;
  left: var(--condensed-item-left) !important;
  width: fit-content !important;
  display: flex;
  align-items: center;
  gap: 10px;
}
.pagination-bullet {
  background-color: var(--color-gray-light) !important;
  border: none !important;
  display: block;
  width: 10px;
  border-radius: 2px;
}
.pagination-bullet-active {
  background-color: var(--color-yellow) !important;
}
