.wrapper{
  margin-top: 20px;
  width: 100%;
}

.slider {
  width: 100%;
  position: relative;
}

.slider-item {
  width: auto;
}

.slider-item-selected {
  position: absolute;
  top: 0;
  z-index: 9;
}

.slider-item-selected:hover {
  transition: transform 0.5s ease-out;
  transform: scale(1.1);
}
