/* ---------- Detail */

.detail {
  padding: 30px;
}

.background {
  display: none;
}

.data {
  width: calc(100% - 240px);
  min-width: 300px;
  color: var(--color-text);
  position: relative;
}

.header {
  gap: 6px !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}

.title {
  color: var(--color-yellow);
  font-size: 1.3rem;
  font-weight: 500;
}
.title:hover {
  border-bottom: 1px solid var(--color-yellow);
}

.genres {
  flex: 0 0 100%;
}

.description {
  width: 100%;
  opacity: 0.6;
  font-size: 0.9rem;
  padding: 14px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.subtitle {
  font-weight: 400;
  font-size: 0.95rem;
  margin: 10px 0 20px 0;
}

.more {
  position: absolute;
  bottom: 0;
  right: 0;
}

.separator {
  margin: 0 7px;
}
.separator:last-of-type {
  display: none;
}

/* ---------- Video */

.video {
  background: #010001;
  height: 520px;
}

img {
  height: 45px;
}
