.wrapper {
  width: 100%;
}

.body {
  margin: 0 auto;
}

.resume {
  width: 100%;
  position: relative;
}

.subsection:last-of-type {
  margin-bottom: 50px;
}
.subsection:first-of-type {
  margin-top: 10px;
}

.empty {
  opacity: 0.6;
}

.selector {
  padding: 0 !important;
  font-size: 1.5rem !important;
  background-color: transparent !important;
  height: 29px;
  margin: 20px 0;
}
.selector:hover {
  color: var(--color-yellow) !important;
}

.navigation {
  font-size: 1rem;
  font-weight: 600;
}
.navigation-button {
  padding: 0 !important;
}
.navigation-link {
  color: var(--color-black);
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 0.9rem !important;
  padding: 0 7px;
}
.navigation-link.prev .navigation-label {
  margin: 0 10px 2px 0;
}
.navigation-link.next .navigation-label {
  margin: 0 0 2px 10px;
}
.navigation-link.next {
  flex-direction: row-reverse;
}
.navigation-arrow {
  font-size: 1.4rem !important;
}
