.wrapper {
  width: 100%;
}

.body {
  margin: 0 auto;
}

.resume {
  width: 100%;
  position: relative;
}

.subsection {
  margin-bottom: 50px;
}
.subsection:first-of-type {
  margin-top: 30px;
}

.empty {
  opacity: 0.6;
}

.selector {
  padding: 0 !important;
  font-size: 1.5rem !important;
  background-color: transparent !important;
  height: 29px;
  margin: 20px 0 5px 0;
}
.selector:hover {
  color: var(--color-yellow) !important;

}

.navigation {
  background-color: rgba(var(--color-skeleton), 0.8);
  border-radius: 10px;
  margin: 5px 0 25px 0;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: 600;
}
.indicator {
  font-size: 1.05rem;
  font-weight: 600;
  margin-right: 10px;
}
.navigation-link {
  padding: 0 10px !important;
}
.navigation-arrow {
  font-size: 1.3rem !important;
  padding: 0 8px !important;
}