.wrapper {
  width: 100%;
}

.body {
  margin: 0 auto;
}

.resume {
  width: 100%;
  position: relative;
}

.subsection {
  margin-top: 50px;
}
.subsection:last-of-type {
  margin-bottom: 50px;
}
.subsection:first-of-type {
  margin-top: 35px;
}

.empty {
  opacity: 0.6;
}
