.wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.brand {
  display: flex;
  align-items: center;
  color: var(--color-text);
}

.logo {
  height: var(--size-header);
  width: var(--size-header);
  max-height: var(--size-header);
}

.title {
  margin: 5px 15px 0;
  font-family: var(--font-logo);
  font-size: 2rem;
}

.sun-icon {
  position: absolute;
  height: 18px;
  width: 18px;
  color: var(--color-dark);
}

.moon-icon {
  position: absolute;
  height: 18px;
  width: 18px;
  color: var(--color-white);
}
