.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.brand {
  display: flex;
  align-items: center;
  color: var(--color-text);
}

.logo {
  height: var(--size-header);
  width: var(--size-header);
  max-height: var(--size-header);
}

.title {
  margin: 5px 15px 0;
  font-family: var(--font-logo);
  font-size: 2rem;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.theme-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  cursor: pointer;
  position: relative;
  height: 25px;
  width: 50px;
  border: 1.5px solid var(--color-text);
  border-radius: 10em;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: var(--color-medium);
}

.toggle-button {
  transform: translate(27px, 3px);
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 0.75em var(--color-text);
  transition: background-color 250ms, border-color 250ms,
    transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: var(--color-medium);
  box-shadow: inset 0px 0px 0px 0.75em var(--color-white);
  transform: translate(4px, 3px);
}

.sun-icon {
  position: absolute;
  height: 18px;
  width: 18px;
  color: var(--color-dark);
}

.sun-icon-wrapper {
  position: absolute;
  height: 18px;
  width: 18px;
  opacity: 1;
  transform: translate(4px, 2px) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(8px, 2px) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 18px;
  width: 18px;
  color: var(--color-white);
}

.moon-icon-wrapper {
  position: absolute;
  height: 18px;
  width: 18px;
  opacity: 0;
  transform: translate(20px, 2px) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(24px, 2px) rotate(-15deg);
}
