.wrapper {
  width: 100%;
  padding: 35px 0 40px 0;
  z-index: 2;
  position: relative;
}

.backdrop {
  background-color: rgba(var(--menu-color-rgb), 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.gradient-bottom {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(var(--color-black-gradient), 0.8), transparent 1500px);
  z-index: -1;
}

.content {
  max-width: var(--size-max);
  padding: 0 var(--padding-aside);
  color: var(--color-text);
  width: 100%;
  background: transparent;
  margin: 0 auto;
  z-index: 5;
}

.title {
  color: var(--color-text);
  font-weight: 600;
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.link .title:hover {
  color: var(--color-yellow);
}

.subtitle {
  font-weight: 600;
  font-size: 1rem;
}

.back {
  margin-top: 10px;
}
