.wrapper {
  width: 100%;
}

.body {
  margin: 0 auto;
}

.resume {
  width: 100%;
  position: relative;
}

.subsection {
  padding-top: 30px;
}
.subsection:last-of-type {
  margin-bottom: 50px;
}
.subsection:first-of-type {
  padding-top: 10px;
}

.empty {
  opacity: 0.6;
}

/* ---------- Selector */

.selector {
  flex-direction: column-reverse !important;
  margin: 0 0 20px 0;
  gap: 10px;
}

.selector-button {
  padding: 0 !important;
  font-size: 1.5rem !important;
  background-color: transparent !important;
  height: 29px;
  margin-top: 10px;
}
.selector-button:hover {
  color: var(--color-yellow) !important;
}

.navigation {
  font-size: 1rem;
  font-weight: 600;
}
.navigation-button {
  padding: 0 !important;
  height: 28px !important;
}
.navigation-link {
  color: var(--color-black);
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 0.9rem !important;
  padding: 0 7px;
}
.next .navigation-link {
  flex-direction: row-reverse;
}

.prev .navigation-label {
  margin: 0 10px 2px 0;
}
.next .navigation-label {
  margin: 0 0 2px 10px;
}

.navigation-arrow {
  font-size: 1.4rem !important;
}

.selector .navigation {
  display: block !important;
}
.selector .prev {
  float: left;
}
.selector .next {
  float: right;
}

/* ---------- Episode description */

.episode-description {
  margin-bottom: 20px;
}

.episode-description .image {
  max-width: 300px;
  width: 100%;
}
