@import './styles/fonts.css';
/* Import Slick Carousel */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/lazy';

:root {
  --size-header: 58px;
  --size-max: 1600px;

  --font-logo: 'BebasNeue', system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-heading: 'UberMove', system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-text: 'UberMoveText', system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --box-shadow-primary: 0px 16px 30px -10px #4660bb33;

  --color-gray: #b9bdcf;
  --color-gray-light: #e0e0e0;
  --color-border: #a0a0a0;
  --color-disabled: #f0f0f0;
  --color-medium: #1d1f20;
  --color-dark: #000000;
  --color-white: #ffffff;
  --color-yellow: #f8ab00;
  --color-yellow-dark: #c08400;
  --color-black-gradient: 50, 50, 50;

  --scrollbarBG: var(--color-gray);
  --thumbBG: var(--color-yellow);
}

.theme-light {
  --color-primary: var(--color-yellow);
  --color-primary-dark: var(--color-yellow-dark);
  --color-secondary: var(--color-dark);
  --color-text: var(--color-dark);
  --color-button-text: var(--color-white);
  --color-link-text: var(--color-dark);
  --color-skeleton-gradient-1: 226, 226, 226;
  --color-skeleton-gradient-2: 240, 240, 240;
  --background-color: var(--color-white);
  --background-color-rgb: 255, 255, 255;
  --background-header-color: var(--color-yellow);
}

.theme-dark {
  --color-primary: var(--color-dark);
  --color-primary-dark: var(--color-dark);
  --color-secondary: var(--color-yellow);
  --color-text: var(--color-white);
  --color-button-text: var(--color-dark);
  --color-link-text: var(--color-yellow);
  --color-skeleton-gradient-1: 40, 40, 40;
  --color-skeleton-gradient-2: 50, 50, 50;
  --background-color: var(--color-medium);
  --background-color-rgb: 29, 31, 32;
  --background-header-color: var(--color-dark);
}

html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-text);
  font-weight: 400;
  padding: 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*! Firefox */
html,
body {
  scrollbar-color: var(--scrollbarBG) var(--thumbBG);
}

/*! Other Browser */
body::-webkit-scrollbar {
  width: 0.35rem;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
}

a {
  text-decoration: none;
}

ul, 
li {
  padding: 0 !important;
}

button,
input,
link {
  outline: none;
  box-shadow: none;
}

.heading {
  font-family: var(--font-heading);
  width: fit-content;
  margin: 30px 0;
}

.sub-heading {
  font-size: 1.2rem;
  margin-bottom: 20px;
  width: fit-content;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block {
  display: block;
  margin: 20px 0;
}

.block * {
  margin-left: auto;
  margin-right: auto;
}

.flexbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.flexbox-space-between {
  justify-content: space-between;
}

.skeleton {
  background: linear-gradient(90deg, rgba(var(--color-skeleton-gradient-1), 1) 25%, rgba(var(--color-skeleton-gradient-2), 0.9) 37%, rgba(var(--color-skeleton-gradient-1), 1) 63%);
  background-size: 400% 100%;
  -webkit-animation: placeholderSkeleton 1.4s ease infinite;
  animation: placeholderSkeleton 1.4s ease infinite;
}

.skeleton * {
  color: transparent !important;
  border-color: transparent !important;
  cursor: default !important;
}

@keyframes placeholderSkeleton {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.MuiMenu-paper {
  pointer-events: all;
  box-shadow: none !important;
}
