@import './styles/fonts.css';
/* Import Slick Carousel */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/lazy';
@import 'swiper/css/effect-fade';

:root {
  --size-header: 58px;
  --size-max: 1200px;
  --padding-aside: 50px;

  --font-logo: 'BebasNeue', system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-heading: 'UberMove', system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-text: 'UberMoveText', system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --color-gray: #b9bdcf;
  --color-gray-light: #e0e0e0;
  --color-border: #a0a0a0;
  --color-disabled: #f0f0f0;
  --color-medium: #1d1f20;
  --color-dark: #000000;
  --color-dark-light: #2f2f2f;
  --color-white: #ffffff;
  --color-yellow: #f8ab00;
  --color-yellow-dark: #c08400;
  --color-black-gradient: 20, 20, 20;

  --scrollbarBG: var(--color-gray);
  --scrollbarBG2: var(--color-gray-light);
  --thumbBG: var(--color-yellow);
}

.theme-light {
  --color-primary: var(--color-yellow);
  --color-primary-dark: var(--color-yellow-dark);
  --color-secondary: var(--color-dark);
  --color-text: var(--color-dark);
  --color-button-text: var(--color-white);
  --color-link-text: var(--color-dark);
  --color-input: #eeeeee;
  --color-skeleton: 217, 217, 217;
  --color-backdrop: 220, 220, 220;
  --background-color: var(--color-white);
  --background-color-rgb: 255, 255, 255;
  --divider-color-rgb: 50, 50, 50;
  --tooltip-color-rgb: 20, 20, 20;
  --placeholder-color-rgb: 240, 240, 240;
  --menu-color-rgb: 255, 255, 255;
  --background-header-color: var(--color-yellow);
  --placeholder-color: var(--color-disabled);
  --placeholder-hover-color: var(--color-gray-light);
  --skeleton-opacity: 0.15;
  --backdrop-opacity: 0.75;
  --box-shadow-secondary: 0px 16px 30px -10px #4660bb33;
  --box-shadow-primary: 0px 3px 1px -2px rgb(155 155 155 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.theme-dark {
  --color-primary: var(--color-dark);
  --color-primary-dark: var(--color-dark);
  --color-secondary: var(--color-yellow);
  --color-text: var(--color-white);
  --color-button-text: var(--color-dark);
  --color-link-text: var(--color-yellow);
  --color-input: #373737;
  --color-skeleton: 40, 40, 40;
  --color-backdrop: 40, 40, 40;
  --background-color: var(--color-medium);
  --background-color-rgb: 29, 31, 32;
  --divider-color-rgb: 255, 255, 255;
  --tooltip-color-rgb: 140, 140, 140;
  --placeholder-color-rgb: 0, 0, 0;
  --menu-color-rgb: 0, 0, 0;
  --background-header-color: var(--color-dark);
  --placeholder-color: var(--color-dark);
  --placeholder-hover-color: var(--color-dark-light);
  --skeleton-opacity: 0.5;
  --backdrop-opacity: 0.9;
  --box-shadow-secondary: 0px 16px 30px -10px #a2a4ad33;
  --box-shadow-primary: 0px 3px 1px -2px rgb(75 75 75 / 20%), 0px 2px 2px 0px rgb(75 75 75 / 14%),
    0px 1px 5px 0px rgb(75 75 75 / 12%);
}

html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-text);
  font-weight: 400;
  padding: 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  padding: 0 !important;
  list-style-type: none;
}

input {
  outline: none;
  box-shadow: none;
  font-family: var(--font-text);
}

button {
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  outline: none;
  box-shadow: none;
  border: none;
  text-decoration: none;
}
