.wrapper {
  border-left: 3px solid var(--color-yellow);
  color: var(--color-text);
  padding-left: 10px;
  height: 28px;
}

.text {
  font-size: 1.1rem;
  font-weight: 600;
}

.icon {
  margin-top: 2.5px;
  margin-left: 5px;
  font-size: 1.8rem;
}

.wrapper:hover .icon {
  color: var(--color-yellow);
}
