.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + var(--grid-gap));
}

.item {
  flex: 0 0 var(--grid-item-percentage);
  padding-bottom: var(--grid-gap);
  padding-right: var(--grid-gap);
}

.gridable {
  display: grid !important;
  width: 100%;
}

.gridable .item {
  padding-bottom: 0 !important;
  padding-right: 0 !important;
}
