.wrapper {
  color: var(--color-text);
  display: block;
  overflow: hidden;
}

.image {
  box-shadow: var(--box-shadow-primary);
  background-color: var(--color-disabled);
  transition: all 0.2s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 0 10px;
}

.title {
  font-weight: 600;
  font-size: 1rem;
}

.date {
  margin-top: 5px;
  font-size: 0.95rem;
}

.wrapper:hover .image {
  transform: scale(1.1);
  transition: all 0.5s;
}

.wrapper:hover .title {
  color: var(--color-yellow);
}
