.wrapper {
  color: var(--color-text);
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.image {
  box-shadow: var(--box-shadow-primary);
  background-color: rgb(var(--color-skeleton-gradient-1));
  transition: all 0.2s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.info {
  background-color: var(--background-color);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}

.title {
  color: var(--color-yellow);
  font-weight: 600;
  font-size: 0.9rem;
}

.description {
  margin: 10px 0;
  font-size: 0.75rem;
}

.date {
  margin-top: 5px;
  font-size: 0.85rem;
}

.extended {
  border: 1px solid var(--color-yellow);
  box-shadow: 0 0 9px rgb(0 0 0 / 20%);
  border-radius: 4px;
  transition: all 0.5s;
}
