@import './MediaCredits.module.css';

.credits {
  flex-wrap: nowrap !important;
  width: 100%;
  overflow: auto;
}

.item {
  margin-bottom: 0;
  max-width: 130px !important;
}

.cast {
  margin-bottom: 20px;
  display: flex !important;
}
